#mySidenav {
    background-color: #5e3f33;
}

.sidebar-content {
    margin: 0 10px;
}

.proyek-title {
    font-size: 30px;
    margin-left: 50px;
}

#menu-title {
    font-size: 24px;
    font-weight: 500;
}

.hidden-control {
    display: none;
}